.menu_hor 
{
	WIDTH: 100%;
	background-color: #CFDBDB;
	FONT-FAMILY: arial;
	FONT-SIZE: 8pt;
	COLOR: white
}		
.Menu
{	
	border-bottom-style:dashed;	
	border-top-color:#999999;
	border-top-width:0px;
	border-top-style:solid;	
	height:20px;
	
	border-left-color:#999999;
	border-left-width:0px;
	border-left-style:solid;
	
	border-right-color:#999999;	
	border-right-width:0px;
	border-right-style:solid;
		
	border-bottom-color:#999999;    
	border-bottom-width:0px;
	border-bottom-style:solid;	
	
	font-family: Verdana,Arial, sans-serif;
	font-size: 11px;			
	background-color: #F7F6F3;  /* #F0F5FA; */	
}
.campos 
{
	BORDER-RIGHT: #000000 1px solid; 
	BORDER-TOP: #000000 1px solid; 
	FONT-SIZE: 12px; 
	BORDER-LEFT: #000000 1px solid; 
	COLOR: #000000; 
	BORDER-BOTTOM: #000000 1px solid; 
	background-color: #EFEBE7;
}
.botoes 
{
	BORDER-RIGHT: #0E4370 1px solid; 
	BORDER-TOP: #5C8BB4 1px solid; 
	FONT-SIZE: 12px; 
	BORDER-LEFT: #5C8BB4 1px solid; 
	COLOR: #ffffff; 
	BORDER-BOTTOM: #0E4370 1px solid;  
	HEIGHT: 20px; 
    	background-color: #48567F; 
	font-weight: bold; 
	width: 130px;
} 
.caixa 
{
	BORDER-RIGHT: #E3E3E3 3px solid;
	BORDER-TOP: #E3E3E3 1px solid;
	BORDER-LEFT: #E3E3E3 1px solid;
	BORDER-BOTTOM: #E3E3E3 3px solid;			
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	PADDING-TOP: 10px;
	PADDING-BOTTOM: 10px;
	FONT-FAMILY: arial;
	FONT-SIZE: 8pt;
	COLOR: black
}